*::before, *::after {
  box-sizing: border-box;
}

#border {
  width: 420px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.flappy-box {
  width: 20px;
  height: 20px;
  border: 1px solid red;
  background-color:red;
  position:absolute;
  bottom: 0px;
  left: 50%;
  transform: translate( -50%);
}

#enemy1 {
  width: 60;
  height: 60;
  background-color: saddlebrown;
  position: relative;

}